body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    color:#707070;
}

body h1 {
    font-family: 'Inter', sans-serif;
}
body p{
    font-size: 18px;
}

.width {
    width: 100%;
} 
.half-width P{
    padding-right: 30px;
    padding-bottom: 30px;
}

.header {
    margin-top: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.73)), url('images/donation120.png');
    background-size: cover;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 15%;
    color: white;
}

.header h1 {
    font-weight: bold;
    font-size: 65px;
}

.important-paragraph {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 18px;
    font-weight: 400;
}

.link-button {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color: #FF5959;
    color: rgb(255, 255, 255);
    padding: 16px 26px;
    font-weight: 500;
    border-radius: 5px;
}

.button {
    margin-top: 50px;
}
.bold-title{
    color: black;
    font-size: 45px;
    font-weight: bold;
}
.donation-box{
    padding-top: 10%;
    text-align: center;
    padding-bottom: 10%;
    margin-bottom: 20px;
}
.padding.left{
    border: 5%;
}
.padding.right{
    padding-right: 5%;
}
.ancor-center{
    text-align: center;
    padding-top: 100px;
}
.preset-amount{
    padding: 40px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: #707070;
    margin-left: 15px;
    margin-right: 15px;

}
.unselected-button{
    background-color: #FAFAFA;
}
.selected-button{
    background-color: #FFEEEE;
    border:2px solid #FF5959;
}
#inputamount{
    width: 99%;
    padding-bottom: 13px;
    text-align: center;
    font-size: 18px;
    color: #707070;   
    border: none; 
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #DADADA;

}
.Enter-button{
    text-align: center;
    padding-top: 40px;
}

.custom-entry{
    text-align: center;
}
.contribution{
    display: flex;
}
.half-width{
    width: 50%;
    padding-top: 2%;
    padding-left: 5%;
    text-align: left;
}

.our-objectives{
    padding-top: 86px;
    text-align: center;
}
.boxes{
    display: flex;
    justify-content: center;
    padding-bottom: 88px;
}
.skyblue{
    background-color: #4f9da64d;
}
.pastelred{
    background-color: #ff59594b;
}
.pastelyellow{
    background-color: rgba(218, 212, 137, 0.466);
}
.box{
    height: 352px;
    width: 360px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 20px;
}
.box h2{
    color: black;
}
.email-input{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.yellow-box{
    height: 200px;
    width: 809px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-size: 16px;

    background-color: #FFF4D6;
    display: flex;
    justify-content: center;
    align-items: center;
}
#email{
    height: 50px;
    width: 275px;
    background-color: #D9D9D9;
    font-size: 16px;
    border: none;
    text-align: left;
    color: #AA9F9F;
    font-family: 'Times New Roman', Times, serif;
}
.sub{
    text-decoration: none;
    height: 32px;
    width: 175px;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    justify-content: center;
    background-color: #FF5959;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    color: white;
    border-radius: 0 5px 5px 0;

}
.acheivments{
    display: flex;
    justify-content: center; 
    height: 150px;
    background-color: rgba(0, 128, 0, 0.226);

}
.text{
    text-align: center;
    border: none;
    padding-left: 80px;
    padding-right: 80px;
    color: rgb(122, 38, 38);
    font-weight: 600;
}


.margin-right{
    margin-right: 3%;
}
.margin-left{
    margin-left: 3%;
}
footer{
    background-color: #0B0D17;
    text-align: center;
    width: 1440px 190px;
}
footer h1{
    font-family: 'Recursive', sans-serif;
    font-size: 36px;
    color: #FF5959;
    padding-top: 2%;
}